@model ForgotPasswordViewModel


@{
    ViewData["Title"] = "بازیابی کلمه‌عبور";
}

<form asp-action="ForgotPassword" asp-controller="Account" class="loginsec">
    <h4>بازیابی کلمه‌عبور</h4>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="username-input">
        <div class="div486">ایمیل</div>
        <div class="username19">
            <input asp-for="Email" class="input" placeholder="ایمیل" />
        </div>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button class="submitbtn">
        <div class="div490">ارسال</div>
    </button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
