@model BlogProject.Domain.ViewModels.LoginViewModel


@{
    ViewData["Title"] = "ورود به سایت";
}

<form asp-action="Login" asp-route-returnUrl="@ViewBag.ReturnUrl" class="loginsec">
    <h4>ورود به سایت</h4>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    @if (signInManager.IsSignedIn(User) && ViewBag.ReturnUrl != null ||
        !signInManager.IsSignedIn(User) && ViewBag.ReturnUrl != null)
    {
        <div class="alert alert-danger">
            شما مجوز ورود به بخش درخواست شده را ندارید  
        </div>
    }

    @if (ViewBag.Message != null)
    {
        <div class="text-danger">@ViewBag.Message</div>
    }

    <div class="username-input">
        <div class="div486">نام کاربری</div>
        <div class="username19">
            <input asp-for="UserName" class="input" placeholder="نام کاربری" />
        </div>
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="username-input1">
        <div class="div487">کلمه‌عبور</div>
        <div class="passbox1">
            <input asp-for="Password" class="input" placeholder="کلمه عبور" />
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="forgot-password-btn">
        <div class="parent">
            <div class="div488"><a href="/account/forgotpassword">فراموشی کلمه‌عبور</a></div>
        </div>
    </div>
    <button class="submitbtn">
        <div class="div490">ورود به سایت</div>
    </button>
    <div class="wrapper">
        <div class="div491"><a href="/register">ثبت نام در سایت</a></div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
