@model ResetPasswordViewModel


@{
    ViewData["Title"] = "بازیابی کلمه‌عبور";
}

<form asp-action="ResetPassword" asp-controller="Account" class="loginsec">
    <h4>بازیابی کلمه‌عبور</h4>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="username-input">
        <div class="div486"><label asp-for="Password"></label></div>
        <div class="username19">
            <input asp-for="Password" class="input" placeholder="کلمه‌عبور" />
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="username-input">
        <div class="div486"><label asp-for="ConfirmPassword"></label></div>
        <div class="username19">
            <input asp-for="ConfirmPassword" class="input" placeholder="تکرار کلمه‌عبور" />
        </div>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="Token" />
    <input type="hidden" asp-for="Email" />

    <button class="submitbtn">
        <div class="div490">بازیابی</div>
    </button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
